PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/nutrisnap?retryWrites=true&w=majority
JWT_SECRET=nutrisnap_super_secret_key_2024
ML_SERVICE_URL=http://localhost:8000
NODE_ENV=development
